@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria: #1A1A1D;
    --cor-secundaria: #3B1C32;
    --cor-terciaria: #6A1E55;
    --cor--hover: #A64D79;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}
*{
    margin: 0; /* Remove a margem padrão de todos os elementos */
    padding: 0; /* Remove o preenchimento padrão de todos os elementos */
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria); /* Define a cor de fundo do corpo como preta */
    color: var(--cor-secundaria); /* Define a cor do texto do corpo como um tom claro de cinza */
    text-decoration: none;
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
    text-decoration: none;
}

.cabecalho__menu__navegacao {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none; 
}
.apresentacao {  
    /* Define uma margem de 10% em todos os lados, criando espaçamento externo */
    padding: 8% 15%;   
    /* Define o modelo de exibição como flexível, permitindo o alinhamento dos elementos internos */
    display: flex;  
    /* Alinha os itens verticalmente ao centro dentro do container */
    align-items: center;  
    /* Distribui os itens horizontalmente, colocando um no início e outro no final do container */
    justify-content: space-between;  
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%; /* A largura do elemento será de 615 pixels */
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem; /* O texto do título será exibido com um tamanho de 36 pixels */
    font-family: var(--fonte-primaria);
}

.titulo-destaque {
    color: var(--cor-terciaria); /* Define a cor do texto da classe "titulo-destaque" como azul */
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem; /* O texto terá um tamanho de 24 pixels */
    font-family: var(--fonte-secundaria);
}

.apresentacao__links {
    display: flex; /* Define que o container usará o Flexbox para organizar os itens */
    flex-direction: column; /* Alinha os itens em uma coluna (um embaixo do outro) */
    justify-content: space-between; /* Distribui o espaço vazio igualmente entre os itens */
    align-items: center; /* Centraliza os itens no meio do container (horizontalmente) */
    gap: 32px; /* Define um espaço de 32px entre cada item */
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao {
    /* background-color: #22d4fd; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria)
}
.apresentacao__links__link:hover{
    background-color: var(--cor--hover);
}

.apresentacao__imagem {
    width: 50%;
}

.rodape{
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

/*CSS media query dentro de um stylesheet */
@media (max-width: 1200px)
{
    .apresentacao {
        flex-direction: column-reverse;
    }

}